<%= form_for [@user, @exercise] do |f| %> 

<table class="table table-responsive table-striped">
  <tbody class="inshtaex">
    
    <tr>
      <td><%= f.label :etype %></td>
      <td>
        <table class="table">
          <tbody>
            <%= f.fields_for :etypes, include_id: false do |builder| %>
              <%= render "etype_fields", :f => builder %>
            <% end %>
            <tr class='add_etype'>
              <td><%= link_to_add_association "Add Etype", f, :etypes, class: 'btn btn-secondary', data:{association_insertion_node: '.add_etype', association_insertion_method: :before} %></td>
            </tr>
          </tbody>  
        </table>        
      </td>
    </tr>
    
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td><%= f.label :muscle %></td>
      <td>
        <table class="table">
          <tbody>
            <%= f.fields_for :muscles, include_id: false do |builder| %>
              <%= render "muscle_fields", :f => builder %>
            <% end %>
            <tr class='add_muscle'>
              <td><%= link_to_add_association "Add Muscle", f, :muscles, class: 'btn btn-secondary', data:{association_insertion_node: '.add_muscle', association_insertion_method: :before} %></td>
            </tr>
          </tbody>  
        </table>        
      </td>
    </tr>

    <tr>
      <td><%= f.label :equipment %></td>
      <td>
        <table class="table">
          <tbody>
            <%= f.fields_for :equipment, include_id: false do |builder| %>
              <%= render "equipment_fields", :f => builder %>
            <% end %>
            <tr class='add_equipment'>
              <td><%= link_to_add_association "Add Equipment", f, :equipment, class: 'btn btn-secondary', data:{association_insertion_node: '.add_equipment', association_insertion_method: :before} %></td>
            </tr>
          </tbody>  
        </table>        
      </td>
    </tr>

     <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_field :description %></td>
    </tr>
  </tbody>
</table>

<%= f.submit %>

<% end %>